.info__section {
    background-color: #F7F2EA;
    padding: 60px;
}
.info__element {
    display: flex;
    gap: 26px;
}
.info__title {
    text-align: center;
    padding-bottom: 60px;
    font-size: 40px;
}
.info__text {
    font-style: italic;
    line-height: normal;
}
.short__title {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}