.tea__section {
    padding: 150px 0;
}
.tea__title {
    color: var(--Black, #151618);
    font-size: 40px;
    line-height: normal;
    text-align: center;
}
.tea{
    display: flex;
}
.tea__items {
    width: 50%;
    display: flex;
    padding: 60px 0;
    padding-left: 58px;

}
.tea-item-img {
    padding-top: 25px;
}
.tea__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.tea__item-title {
    color: var(--Black, #151618);
    font-size: 24px;
    line-height: normal;
}
.tea__item-text {
    color: var(--Black, #151618);
    font-size: 13px;
    line-height: normal;
}
.tea-img {
  padding-bottom: -20px; 
}
.read  :hover  {
    background-color: rgb(142, 138, 138);
    
}
.tea-btn  {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
}
.btn {
    text-align: center;
}
.btn :hover  {
    background-color: rgb(160, 160, 160)
}